* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  height: 100px;
}

.container {
  max-width: 1200px;
  padding: 2rem;
  margin: auto;
}

.hero-container {
  min-height: calc(100vh - 200px);
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  align-items: center;
  border: 1px solid #ccc;
}

.auth-container {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.auth-container label,
.auth-container input {
  text-align: left;
  padding: .5rem 0;
}

::placeholder {
  padding-left: .5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.auth-button {
  padding: .5rem;
  margin: 1rem 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  height: 100px;
}