* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  color: #212121;
}

a {
  color: #FFF;
}

nav, 
footer {
  color: #fff;
  background: #212121;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  height: 100px;
}

.navbar .logo {
  font-size: 1.5rem;
  color: #ddd;
}

.navbar a {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #ccc;
}

.container {
  max-width: 1200px;
  padding: 2rem;
  margin: auto;
}

button {
  font-weight: 600;
   letter-spacing: .4px; 
  padding: 1rem 2rem;
  background: #227c67;
  border-radius: 1000000000000px;
  border: none;
  color: #eee;
  font-size: 1rem;
  margin: 0 1rem;
  cursor: pointer
}

.btn-secondary {
  background: #C02D28;
  
}

.hero-container {
  min-height: calc(100vh - 200px);
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.hero-text {
  max-width: 650px;
  text-align: center;
  margin-top: -150px;
}

.hero-text h1 {
  font-size: 2rem;
}

.hero-text p {
  text-align: center;
  padding: .5rem 3rem 2rem; 
  font-size: 1.3rem;
}

.auth-container {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.auth-container label,
.auth-container input {
  text-align: left;
  padding: .5rem 0;
}

::placeholder {
  padding-left: .5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.auth-button {
  display: block;
  width: 100%;
  height: 45px;
  padding: .5rem;
  margin: 1rem 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  height: 100px;
}