* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  color: #212121;
}

a {
  color: #FFF;
}

nav, 
footer {
  color: #fff;
  background: #212121;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  height: 100px;
}

.navbar .logo {
  font-size: 1.5rem;
  color: #ddd;
}

.navbar a {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #ccc;
}

.container {
  max-width: 1200px;
  padding: 2rem;
  margin: auto;
}

button {  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-weight: 600;
  letter-spacing: .4px; 
  padding: 1rem 2rem; 
  cursor: pointer;
  background: #227c67;
  border-radius: 1000000000000px;
  border: none;
  color: #eee;
  font-size: 1rem;
  margin: 0 1rem;
}

.btn-secondary {
  background: #C02D28;
}

.btn-close { 
  width: 35px;
  height: 35px;
  background: transparent;
  position: absolute;
  top: 0;
  right: 2rem;
  color: #333;
}

.hero-container {
  min-height: calc(100vh - 200px);
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.hero-text {
  max-width: 650px;
  text-align: center;
  margin-top: -150px;
}

.hero-text h1 {
  font-size: 2rem;
}

.hero-text p {
  text-align: center;
  padding: .5rem 3rem 2rem; 
  font-size: 1.3rem;
}

.auth-container {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2rem 2rem;
  border: 3px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgb(0 0 0 / 0.15);
}

form button {
  width: 100%;
  margin: 1.7rem 0 1rem;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
  text-align: left;
  padding: .8rem 0;
}

input {
  font-size: 1rem;
  text-align: left;
  padding: .5rem 0;
  border-radius: 10000000000px;
  border: 3px solid #ccc;
  padding: .8rem 1rem;
  outline: none;
}

hr {
  margin: 1rem;
}

form p a {
  color: #227c67;
  font-weight: 700;
}

.container h1 {
  margin: 50px auto .5rem;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #227c67 ;
  
}

.lessons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  margin: 50px auto;
}

.lesson-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin: 1rem;
  height: 400px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 0.15);
}

.lesson-card .title {
  border-bottom: 4px solid #227c67;
  width: 80%;
  padding: 1rem;
}

.lesson-card .body {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 2rem auto;
  padding-bottom: 1rem;
  align-items: center;
  text-align: left;
  border-bottom: 4px solid #227c67;
  width: 80%;
}

.lesson-card img {
  height: 135px;
  width: 135px;
  object-fit: cover;
  border-radius: 100%;
  margin: .2rem auto;
}

.crud-form-container {
  max-width: 800px;
}

.crud-form-container .button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.container {
  text-align: center
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  height: 100px;
}